body {
  margin: 0;
  background-color: black;
  width: 100%;
  max-height: 100vh;
  overflow-y: hidden;
  font-family: "Press Start 2P", Roboto, monospace;
  color: white;
}

#root {
  padding: 0.5rem;
  text-align: center;
}

#root h1 {
}

#root canvas {
  display: block;
  margin: 0 auto;
}

.copyright {
  position: fixed;
  bottom: 10px;
  right: 15px;
  font-size: 12px;
}
